* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --tt-placeholder:  #7C7C8A;
    --tt-table-primary: #E1E1E6;
    --bg-sendButton: #065E7C;
    --bg-Input-e-Row: #06181C;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body * {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    gap: 29.3rem;
    margin: 11.5rem 16rem 8.7rem 16rem;
}

header svg {
    margin-top: 1.5rem;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    text-align: center;
}

header div input {
    border: none;
    background-color: transparent;
    padding: 1.5rem;
    width: 43rem;
    color: var(--tt-placeholder);
    background-color: var(--bg-Input-e-Row);
    border-radius: .5rem;
    transition: background 0.5s;
}

header div input::placeholder {
    color: var(--tt-placeholder);
}

header div input:focus{
    background-color: var(--bg-sendButton);
    border-radius: .5rem;
    outline: 0;
    color: #FFFFFF;
}

header div input:focus::placeholder {
    color: #FFFFFF;
}


header div button {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    border: none;
    background: var(--bg-sendButton);
    padding: 1.2rem 3.2rem;
    gap: .8rem;
    border-radius: .5rem;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    transition: background .5s;
}

header div button:hover{
    cursor: pointer;
    background: #FFFFFF;
    color: var(--bg-sendButton);
}

header div button:hover svg path {
    fill: var(--bg-sendButton);
}

header div button svg {
    margin: 0;
}

.table-wrapper {
    width: 77%;
    margin: auto;
    
    border: 2px solid #092D38;
    border-radius: 1.2rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background-color: transparent;
    padding-left: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background: #4A808C;
    border-radius: 6px;
}

table {
    border-spacing: 0;
    display: flex;
    flex-direction: column;
    max-height: 65rem;   
}

table * {
    color: var(--tt-table-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
}

table thead {
    color: var(--tt-table-primary);
    background-color: #092D38;
    text-align: start;   
}

table thead tr th:first-child {
    padding: 1.6rem 30rem 1.6rem 5rem;
}

table thead tr th:last-child {
    padding: 1.6rem 0 1.6rem 5rem;
}

table thead tr th {
    padding: 1.6rem 9.2rem 1.6rem 3rem;
}

table tr:nth-child(even){
    background-color:var(--bg-Input-e-Row);
}

tbody {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

tbody td {
    width: 100%;
}

tbody tr {
    display: flex;
    align-items: center;
    border-top: 2px #092D38 solid;
}

tbody tr:first-child{
    border-top: none;
}

table tbody tr td {
    padding: 2.4rem 9.2rem 2.4rem 4rem;
    text-align: start;
}

table tbody tr td:nth-child(2){
    margin-right: 7rem;
}

table tbody tr td:nth-child(3){
    padding: 2rem 9.2rem 2.4rem 0rem;
}


table tbody tr td a {
    width: 29rem;
    text-transform: lowercase;
}

table tbody tr td:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
    padding: 2.4rem 0 2.4rem 5rem;
}

table tbody tr td img {
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;
}

table tbody tr td a {
    text-decoration: none;
}

table tbody tr td:last-child{
    padding: 2.4rem 8rem 2.4rem 4rem;
}

table tbody tr td button {
    border: none;
    background-color: transparent;
    color: #F75A68;
    transition: color .3s;
}

table tbody tr td button:hover {
    cursor: pointer;
    color: #ffa7ae;
}

/* NO USER FAVORITED */
.no-favorite {
    display: flex;
    flex-direction: column-reverse;
}

.no-favorite-display{
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    margin-top: 21rem;
    margin-bottom: 21rem;
}

.no-favorite-display p{
    font-weight: 700;
    font-size: 4rem;
    color: #4E5455;
}